<h1>Plotter</h1>
<p>Please fill in your formula here (use x as variable): <input id="usrFormula" type="text"/></p>
<p>Xmin: <input id="usrXmin" type="number"/></br>
Xmax: <input id="usrXmax" type="number"/></br>
Xtick: <input id="usrXtick" type="number"/> </p>
<canvas id="myChart" width="400" height="200"></canvas>
</script>