<div class="col-md-12 gray">
	<h1>Plotter</h1>
	<hr>
	<p>Please fill in your formula here (use x as variable):</p>
	<p>f(x) = <input id="usrFormula" type="text"/></p>
	
	<table>
		<thead><tr>
			<th class="col-md-4">Xmin</th>
			<th class="col-md-4">Xmax</th>
			<th class="col-md-4">Tick</th>
		</tr></thead>
		<tr>
			<td ><input class="interval" id="usrXmin" type="number"/></td>
			<td ><input class="interval" id="usrXmax" type="number"/></td>
			<td ><input class="interval" id="usrXtick" type="number"/></td>
		</tr>
	</table>
	
	<canvas id="myChart" width="400" height="250"></canvas>
</div>